<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./popup.css" />
		<script src="../scripts/defaults.js"></script>
		<script defer src="./popup.js" type="module"></script>
	</head>
	<body>
		<div class="container">
			<div class="top-bar">
				<a href="https://imgur.com/qQeJpTK">
					<img src="https://imgur.com/qQeJpTK.png" title="source: imagur.com" class="logo-image" />
				</a>
			</div>

			<div class="middle-bar">
				<div>
					<form>
						<div class="checkbox">
							<input type="checkbox" id="micToggle" name="microphoneActivity" />
							<label for="micToggle">Microphone active</label>
						</div>

						<!-- Add feedback sounds toggle checkbox -->
						<div class="checkbox">
							<input type="checkbox" id="feedbackSoundsToggle" name="feedbackSoundsActivity" checked />
							<label for="feedbackSoundsToggle">Feedback sounds</label>
						</div>
					</form>
				</div>

				<div>
					<form action="">
						<div class="audioInput">
							<label for="audioInput">Audio Input</label>
							<select name="audioIn" id="audioInput">
								<option value="default">System Default</option>
							</select>
						</div>
					</form>
				</div>
			</div>

			<div class="third-bar">
				<div>
					<form>
						<div class="volumeSlider">
							<label for="volumeAdjust">Voice Readout Volume</label>
							<input type="range" name="volumeSlider" id="volumeAdjust" value="100" />
						</div>
					</form>
				</div>

				<div>
					<form action="">
						<div class="audioOutput">
							<label for="audioOutput">Audio Output</label>
							<select name="audioOut" id="audioOutput">
								<option value="default">System Default</option>
							</select>
						</div>
					</form>
				</div>
			</div>

			<div class="bottom-bar">
				<div>
					<button class="change-hotkeys">Change hotkeys</button>
				</div>

				<div class="hotkey-settings">
					<h3>Hotkeys</h3>

					<div>Enable Microphone:</div>
					<input type="text" id="hotkey-microphone" />
					<button id="save-microphone">set</button>

					<div>Toggle transcript:</div>
					<input type="text" id="hotkey-transcript" />
					<button id="save-transcript">set</button>

					<div>Readout volume down:</div>
					<input type="text" id="hotkey-readoutdown" />
					<button id="save-readoutdown">set</button>

					<div>Readout volume up:</div>
					<input type="text" id="hotkey-readoutup" />
					<button id="save-readoutup">set</button>

					<button id="close-settings">Close</button>
				</div>

				<div>
					<button class="theme-toggle">light mode</button>
				</div>
				<div>
					<button class="transcript">Toggle transcript</button>
				</div>
			</div>
		</div>
	</body>
</html>
